<!DOCTYPE html>

<html>
    <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="chrome=1">
       <title>Minimal by Steve Smith</title>
                        
       <link rel="stylesheet" href="stylesheets/styles.css">
       <link rel="stylesheet" href="stylesheets/pygment_trac.css">
       <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
       <!--[if lt IE 9]>
       <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
    <title>{% if page.title %}{{ page.title }} | {% endif %}neff.cc: sparks and accelerant</title>
    </head>

  </head>
  <body class="{{ page.layout }}">

    <section id="main">

      <section id="masthead" class="group">
        <header class="group">
          <p><a href="/">neff.cc</a></p>
          <h1>sparks and accelerant</h1>
        </header>
      </section>

      <section id="focus" class="group">

        <section id="content" class="group">
          {{ content }}
        </section>

        <section id="sidebar">

          <section id="meta-col1" class="meta group">
            <aside id="about">
              <header>
                <h3>About</h3>
              </header>
              <p>
              splashes of ideas looking for ignitors. 
              </p>
            </aside>

            <aside id="bio">
              <header>
                <h3>DTN</h3>
              </header>
              <p>
              A ops/release guy living in San Jose, California. I work for <a href="http://adobe.com">Adobe</a>.
              </p>
            </aside>

            <aside>
              <header>
                <h3>Elsewhere</h3>
              </header>
              <nav id="bio">
                <ul>
                  <li><a href="http://twitter.com/dn3ff">Twitter</a></li>
                  <li><a href="https://github.com/dneff">Github</a></li>
                  <li><a href="http://www.linkedin.com/profile/view?id=1844652">LinkedIn</a></li>
                </ul>
              </nav>
            </aside>

          </section>

        </section>

      </section>

      <section id="footer" class="group">
        <footer class="group">
          <p class="copyright">
            inspired by <a href="http://userobsessed.net/">User Obsessed</a> 
          </p>
        </footer>
      </section>

    </section>

  </body>
</html>
